exclude-queries:
  # CloudWatch Log KMS Encryption
  - 0afbcfe9-d341-4b92-a64c-7e6de0543879

  # IAM Access Analyzer
  - e592a0c5-5bdb-414c-9066-5dba7cdea370

  # Lambda Invoke Function Misconfigured (Allowing all resources)
  - 0ca1017d-3b80-423e-bb9c-6cd5898d34bd

  # Sensitive Port Exposed to Private Network (This is fine due to VPC)
  - 92fe237e-074c-4262-81a4-2077acb928c1
